{% extends 'common/base-bootstrap.html' %}
{% load i18n admin_urls static compress crispy_forms_tags %}

{% block head %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
{% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'changing:index' %}">Admin</a></li>
<li class="breadcrumb-item"><a href="{% url 'importer_narwhal:exporter-landing' %}">Exporter</a></li>
<li class="breadcrumb-item active" aria-current="page">New</li>
{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form|crispy }}
  <p class="text-secondary"><strong>Privacy warning</strong>: This tool is only available to host administrator.
     Exports include all records <em>regardless of access controls</em> like 'FDP Organization' and 'Host Only.'</p>
  <button type="submit" class="btn btn-primary">Export</button>
</form>
{% endblock %}

{% block script-bottom %}
$('select.selectmultiple').select2()
{% endblock %}
