{% extends 'common/password_reset.html' %}
{% load i18n fdp_extras %}

{% block content %}
  <h3>{% trans 'Forgot your password?' %}</h3>
{% is_azure_active_directory_configured as has_azure_ad_auth %}
{% if has_azure_ad_auth %}
  <p class="pwdrstnt">{% trans 'Azure Active Directory users should contact their IT administrator to reset their password. It cannot be reset through FDP.' %}</p>
{% endif %}
{% is_password_reset_configured as has_password_reset %}
{% if has_password_reset %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% trans 'Reset' %}</button>
  </form>
{% endif %}
{% endblock %}