{% extends 'common/password_reset.html' %}
{% load i18n fdp_extras %}

{% block content %}
  <h3>{% trans 'Forgot your password?' %}</h3>
{% with has_extra_auth=is_extra_auth_installed %}
{% if has_extra_auth %}
  <p class="pwdrstnt">{% trans 'Azure Active Directory users should contact their IT administrator to reset their password. It cannot be reset through FDP.' %}</p>
{% endif %}
{% endwith %}
{% with has_password_reset=is_password_reset_configured %}
{% if has_password_reset %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% trans 'Reset' %}</button>
  </form>
{% endif %}
{% endwith %}
{% endblock %}