{% extends 'common/password_reset.html' %}
{% load i18n %}

{% block content %}
  {% if validlink %}
    <h3>{% trans 'Change password' %}</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">{% trans 'Change password' %}</button>
    </form>
  {% else %}
    <p>
      {% trans 'This link does not work.' %}
    </p>
    <p>
      {% trans 'It may have expired or it may have already been used to change the password.' %}
    </p>
    <p>
      {% trans 'Please request a new link.' %}
    </p>
  {% endif %}
{% endblock %}