div.search-results li {
    list-style: none;
}
div.search-results ul {
  padding-left: 0;
}
a.profile-link {
  text-decoration: none;
}
a.profile-link:hover {
  text-decoration: underline;
}
.fdp-card-footer {
  padding: .5rem;
  padding-left: 1rem;
}
.search-filter-bar .btn-link {
  color: rgb(33, 37, 41) !important; /* var(--bs-body-color) */
  text-decoration: none;
}
ul.search-facet-box-options {
    max-height: 70rem;
    overflow-y: auto;
}
.search-facet-option {
  margin-left: 0.3rem;
  padding-left: 0;
}
.search-facet-option input {
  padding-left: .1rem;
  white-space: normal;
  text-align: left;
}
.search-facet-status-indicator {
  margin-left: -1.2rem;
  vertical-align: -1%;
}
