/* Detail pages */
.primary-color {
    color: #417690;
}
body.profile.officer div.main {
    margin-top: 2em;
}

body.profile.officer div.main h1 {
    font-size: 3em;
}

body.profile.officer div.main h2 {
    color: #417690;
    font-size: 32px !important;
    font-weight: normal;
}
button.collapsible {
  margin-bottom: 1em;
}

/* Payroll */
span.empty-table-field {
    text-align: center;
    display: block;
}

/* edit links for each incident (within accordion <button> element...) */
body.profile.officer div.main button.collapsible span.admin-actions {
    font-size: 14px;
    vertical-align: 10%;
}

section {
    margin-top: 3em;
}

section div.section-heading h2 {
    display: inline;
    margin-right: .2em;
}

section div.section-heading {
    overflow: hidden;
    margin-bottom: 2em;
}

section div.section-heading i.fas {
    vertical-align: 10%;
    font-size: 24px;
}

section div.section-heading:after {
    background-color: #417690;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 100%;
    left: 2em;
    margin-right: -50%;
}

div.collapsible-controls {
    margin-bottom: 1em;
}

button.collapsible:before {
    display: none;
}

/* Custom header text box */
a.custom-text-edit-link {
    opacity: 0;
    float: right;
    margin-right: -1em;
}
div#custom-text-block-top:hover a.custom-text-edit-link {
    transition-duration: .2s;
    opacity: 100%;
}

/* Custom incidents text box */
div#custom-text-block-incidents:hover a.custom-text-edit-link {
    transition-duration: .2s;
    opacity: 100%;
}
