{% extends "common/fdp_base_site.html" %}
{% load i18n admin_urls static compress fdp_extras %}

{% block extrahead %}{{ block.super }}{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'fdpuser/css/settings.css' %}">
    {% endcompress %}
{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'profiles:index' %}">{% translate 'Home' %}</a>
    &rsaquo;
    {{ title }}
</div>
{% endblock %}
{% endif %}

{% block content %}


    <img class="big" src="{% static 'img/user_big.png' %}">
    <div class="clear"></div>

    {% if email %}
    <div class="labelvalue">
        <label>{% translate 'Email' %}</label> <span>{{ email }}</span>
    </div>
    <div class="clear"></div>
    {% endif %}

    {% if name %}
    <div class="labelvalue">
        <label>{% translate 'Name' %}</label> <span>{{ name }}</span>
    </div>
    <div class="clear"></div>
    {% endif %}

    {% if role %}
    <div class="labelvalue">
        <label>{% translate 'Role' %}</label> <span>{{ role }}</span>
    </div>
    <div class="clear"></div>
    {% endif %}

    {% if fdp_organization %}
    <div class="labelvalue">
        <label>{% translate 'Organization' %}</label> <span>{{ fdp_organization }}</span>
    </div>
    <div class="clear"></div>
    {% endif %}

    {% is_eula_splash_enabled as has_eula %}
    {% if has_eula %}
    <div class="labelvalue">
        <label>{% if eula_agreement %}<i class="ok fas fa-check-circle"></i>{% else %}<i class="notok fas fa-exclamation-circle"></i>{% endif %}</label>
        <span>{% if eula_agreement %}{% translate 'I agreed on' %}
            {{ eula_agreement }}
            {% translate 'to' %}
                {% if current_eula %}
                <a class="eula" href="{{ current_eula.file.url }}" rel="noopener noreferrer" target="_blank" download>{% translate 'the end-user license agreement' %}</a>
                {% else %}
                {% translate 'the end-user license agreement to be added' %}
                {% endif %}
            {% else %}{% translate 'No end-user license agreement' %}
            {% endif %}
        </span>
    </div>
    <div class="clear"></div>
    {% endif %}

    {% is_django_2fa_skipped_for_azure as can_skip_django_2fa %}
    {% is_azure_authenticated user as is_user_azure_authenticated %}
    {% if can_skip_django_2fa and is_user_azure_authenticated %}

    {% else %}
    <div class="labelvalue">
        <a href="{% url 'two_factor:profile' %}">{% translate 'Manage Two-Factor Authentication' %}</a>
    </div>
    <div class="clear"></div>
    {% endif %}

    {% is_password_reset_configured as has_password_reset %}
    {% if has_password_reset and user.has_usable_password and user.has_changeable_password %}
    <div class="labelvalue">
        <a href="{% url 'fdpuser:confirm_password_change' %}">{% translate 'Change password' %}</a>
    </div>
    <div class="clear"></div>
    {% endif %}

{% endblock %}
