{% extends "common/base-bootstrap.html" %}
{% load i18n admin_urls static compress crispy_forms_tags changing_extras %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'changing:index' %}">Admin</a></li>
<li class="breadcrumb-item"><a href="{% url 'importer_narwhal:importer-landing' %}">Importer</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
{% endblock %}

{% block content %}

{% block head %}
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss"  href="{% static 'importer_narwhal/style-importer-narwhal.scss' %}">
    {% endcompress %}
{% endblock %}

{% if not hide_stepper  %}
<nav aria-label="Workflow">
<ul class="fdp-stepper col-md-10 offset-md-1">
  <li class="{% if stepper_number == 1 %}active{% endif %}">
    <span class="stepper-step-number">
      {% if stepper_number > 1 %}
        <i class="fas fa-check"></i>
      {% else %}
      1
      {% endif %}
    </span>
    <span>Set up</span>
  </li>
  <li class="fdp-stepper-line"></li>
  <li class="{% if stepper_number == 2 %}active{% endif %} {% if stepper_number < 2 %}pending{% endif %}">
    <span class="stepper-step-number">
      {% if stepper_number > 2 %}
        <i class="fas fa-check"></i>
      {% else %}
      2
      {% endif %}
    </span>
    <span>Validate</span>
  </li>
  <li class="fdp-stepper-line"></li>
  <li class="{% if stepper_number == 3 %}active{% endif %} {% if stepper_number < 3 %}pending{% endif %}">
    <span class="stepper-step-number">
      {% if stepper_number > 3 %}
        <i class="fas fa-check"></i>
      {% else %}
      3
      {% endif %}
    </span>
    <span>Import</span>
  </li>
  <li class="fdp-stepper-line"></li>
  <li class="{% if stepper_number == 4 %}active{% endif %} {% if stepper_number < 4 %}pending{% endif %}">
    <span class="stepper-step-number">
      {% if stepper_number > 4 %}
        <i class="fas fa-check"></i>
      {% else %}
      4
      {% endif %}
    </span>
    <span>Review</span>
  </li>
</ul>
</nav>
<hr>
{% endif %}

<div class="importer-inner-content importer-{{object.state}}">
{% block inner_content %}
{% endblock %}
</div>

{% endblock %}
