/* *** GENERAL LAYOUT STYLES *** */
/* social authentication disconnect and user logout */
form.logout { float: right; }
button.logout {
    text-transform: uppercase;
    padding: 0;
    padding-bottom: 2px;
    background: transparent;
    font: inherit;
    color: #FFF;
    cursor: pointer;
    border: 0 none;
    border-bottom: 1px solid rgba(255,255,255,0.25);
    line-height: 1em;
}
button.logout:focus, button.logout:hover {
    border-bottom-color: #79aec8;
    color: #79aec8;
}
/* element appearing on the modal dialogue that contains the exact time remaining until a user's session will expire */
#sessiontoexpirytime { font-weight:bold; }

/* Footer & Release number styling */
div#footer-global {
  text-align: right;
}
span#release-number {
  color: #aaa;
  font-weight: bold;
}
/* Move footer to bottom when on 2fa pages, where body div becomes tiny window */
body.login div#footer-global {
  position: fixed;
  bottom: 0;
  right: 0;
}

/* Help center button */
a.help-center-button {
    position: fixed;
    bottom: 1.5em;
    right: 1.5em;
    border: 1px solid white;
    background-color: #417690;
    color: white;
    padding: 0.75em;
    border-radius: 19px;
    font-weight: bold;
}

a.help-center-button .fa-question-circle {
    font-size: 120%;
}

/* Global custom text block footer*/
div#custom-text-block-global {
  padding: 20px 40px;
}
a.custom-text-edit-link {
    opacity: 0;
    float: right;
    margin-right: -1em;
}
div#custom-text-block-global:hover a.custom-text-edit-link {
    transition-duration: .2s;
    opacity: 100%;
}
