/* Loading animated GIF displayed while asynchronous (AJAX) request is in progress */
#loading {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    margin-left: -8px;
    z-index: 16777271;
}
/* check mark that is optionally displayed when an asynchronous request (i.e. AJAX) completes successfully */
#ajaxdone {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    color: #70bf2b;
    font-size: 400%;
    margin-top: -24px;
    margin-left: -24px;
    z-index: 16777271;
}

/* *** Error, Confirmation and Other Messages  *** */
/* Dialog displayed for raw error and handled error and confirmation message */
#rawError, #showError, #showConfirmation, #showHtml { }
/* Exclamation icon to the left of the raw error title and handled error title */
#rawError h1 i, #showError h1 i { color: #ba2121; margin-right: 0.5em; }
/* Question mark icon to the left of the confirmation message title */
#showConfirmation h1 i, #showHtml h1 i { color: #79aec8; margin-right: 0.5em; }
/* Clickable details link to display raw error */
#rawError span.details {
    color: #447e9b;
    text-decoration: none;
    font-size: 13px;
}
#rawError span.details:focus, #rawError span.details:hover {
    color: #036;
    text-decoration:underline;
}
/* Icon to the right of the clickable details link to display raw error */
#rawError span.details i {
    margin-left: 0.5em;
}
/* disables pulsing when focus event triggered on buttons on modal dialogue */
.vex.vex-theme-default .vex-dialog-button-primary.vex-dialog-button.vex-first:focus,
.vex.vex-theme-default .vex-dialog-button-secondary.vex-dialog-button.vex-last:focus {
    -webkit-animation: none;
    animation: none;
}
