{% extends "common/fdp_base_site.html" %}
{% load i18n admin_urls static compress %}

{% block extrahead %}{{ block.super }}{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/common_search.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'profiles/css/command_search.css' %}">
    {% endcompress %}
{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'profiles:index' %}">{% translate 'Searches' %}</a>
    &rsaquo;
    {{ title }}
</div>
{% endblock %}
{% endif %}

{% block content %}

    <form class="search" action="{% url 'profiles:command_search' %}" method="post">
        {% csrf_token %}
        <div>
            {{ form.non_field_errors }}
        </div>
        <div class="fieldWrapper">
            <p class="helpmsg">
                <i class="fas fa-info-circle"></i>
                {% translate 'Search by name or abbreviation' %}
            </p>
        </div>
        <div class="fieldWrapper criteria">
            {{ form.search.errors }}
            {{ form.search }}
        </div>
        <div class="fieldWrapper buttons">
            <input type="submit" value="Search" />
        </div>
    </form>

{% endblock %}