{% extends "common/fdp_base_site.html" %}
{% load i18n admin_urls static compress profiles_extras %}

{% block extrahead %}
    {{ block.super }}
    {% compress js %}
    <script src="{% static 'profiles/js/officerprofile.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive_grid.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/collapsible.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'profiles/css/officer.css' %}">
    {% endcompress %}
{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'profiles:index' %}">{% translate 'Searches' %}</a>
    &rsaquo;
    <a href="{% url 'profiles:officer_search' %}">{% translate 'Officer Search' %}</a>
    &rsaquo;
    <a href="{{ search_results_url }}">{% translate 'Officer Search Results' %}</a>
    &rsaquo;
    {{ title }}
</div>
{% endblock %}
{% endif %}

{% block content %}
    <h2>
        <span class="h2main">{{ object.name }}</span>
        {% if has_attachments %}
        <a href="{% url 'profiles:officer_download_all_files' object.pk %}"><span class="h2wrap">
            <span class="h2lower"><i class="fas fa-file-archive"></i></span>
            <span class="h2upper">{% translate 'Download' %}</span>
            <span class="h2upper">{% translate 'All' %}</span>
        </span></a>
        {% endif %}
        <span class="h2wrap" id="i_expandall">
            <span class="h2lower"><i class="fas fa-plus-square"></i></span>
            <span class="h2upper">{% translate 'Expand' %}</span>
            <span class="h2upper">{% translate 'All' %}</span>
        </span>
        <span class="h2wrap" id="i_collapseall">
            <span class="h2lower"><i class="fas fa-minus-square"></i></span>
            <span class="h2upper">{% translate 'Collapse' %}</span>
            <span class="h2upper">{% translate 'All' %}</span>
        </span>
    </h2>

    <button type="button" class="collapsible expanded">{% translate 'Identification' %}</button>
    <div class="collapsible">
        <div class="gridrow gridgroup">
            <div class="gridcol gridcell_1_of_3">

                <div class="slider photos">
                    {% for officer_photo in object.officer_photos %}
                    <div>
                        <img src="{{ officer_photo.photo.url }}" alt="{{ object.name }}" title="{{ object.name }}" />
                    </div>
                    {% empty %}
                    <div>
                        <img src="{% static 'img/officer_big.png' %}" alt="{% translate 'No photo available' %}" title="{% translate 'No photo available' %}" />
                    </div>
                {% endfor %}
                </div>

            </div> <!-- div.gridcol.gridcell_1_of_3 -->
            <div class="gridcol gridcell_1_of_3">
                {% if object.officer_aliases %}
                <div>
                    <label class="ident">{% translate 'Aliases' %}</label>
                    <span class="identval">{% for alias in object.officer_aliases %}{{ alias.name }}{% if not forloop.last %},{% endif %} {% endfor %}</span>
                </div>
                {% endif %}
                {% if object.age %}
                <div>
                    <label class="ident">{% translate 'Age' %}</label> <span class="identval">{{ object.age }}</span>
                </div>
                {% endif %}
                {% if object.officer_traits %}
                <div>
                    <label class="ident">{% translate 'Traits' %}</label>
                    <span class="identval">{% for trait in object.officer_traits %}{{ trait.name }}{% if not forloop.last %},{% endif %} {% endfor %}</span>
                </div>
                {% endif %}

                {% if object.officer_title %}
                <div>
                    <label class="ident">{% if object.officer_titles %}{% translate 'Ranks' %}{% else %}{% translate 'Rank' %}{% endif %}</label>
                </div>

                <div>
                    <span class="identval labelsim">{{ object.officer_title.title.name }}</span>
                    {% if object.officer_title.as_of_bounding_dates %}{{ object.officer_title.as_of_bounding_dates }}{% endif %}
                </div>

                {% for title in object.officer_titles %}
                <div>
                    <span class="labelsim">{{ title.title.name }}</span>
                    {% if title.as_of_bounding_dates %}{{ title.as_of_bounding_dates }}{% endif %}
                </div>
                {% endfor %}
                {% endif %}

            </div> <!-- div.gridcol.gridcell_1_of_3 -->
            <div class="gridcol gridcell_1_of_3">
                {% for identifier in object.officer_identifiers %}
                <div>
                    <label class="ident">{{ identifier.person_identifier_type }}</label>
                    <span class="identval">{{ identifier.identifier }}</span>
                    {% if identifier.as_of_bounding_dates %}{{ identifier.as_of_bounding_dates }}{% endif %}
                </div>
                {% endfor %}

                {% if object.officer_command %}
                <div>
                    <label class="ident">{% if object.officer_commands %}{% translate 'Commands' %}{% else %}{% translate 'Command' %}{% endif %}</label>
                </div>

                <div>
                    <span class="identval labelsim">{{ object.officer_command.grouping.name }}</span>
                    {% if object.officer_command.as_of_bounding_dates %}{{ object.officer_command.as_of_bounding_dates }}{% endif %}
                </div>

                {% for command in object.officer_commands %}
                <div>
                    <span class="labelsim">{{ command.grouping.name }}</span>
                    {% if command.as_of_bounding_dates %}{{ command.as_of_bounding_dates }}{% endif %}
                </div>
                {% endfor %}
                {% endif %}

            </div> <!-- div.gridcol.gridcell_1_of_3 -->
        </div> <!-- div.gridrow.gridgroup -->

    </div> <!-- div.collapsible -->

    <button type="button" class="collapsible expanded">{% translate 'Payroll' %}</button>
    <div class="collapsible">
        {% if object.officer_payments %}
            <table>
                <thead>
                    <th>{% translate 'Period' %}</th>
                    <th>{% translate 'Salary' %}</th>
                    <th>{% translate 'Hours' %}</th>
                    <th>{% translate 'Gross Pay' %}</th>
                    <th>{% translate 'Overtime Hours' %}</th>
                    <th>{% translate 'Overtime Pay' %}</th>
                    <th>{% translate 'Other Pay' %}</th>
                    <th>{% translate 'County' %}</th>
                    <th>{% translate 'Leave Status' %}</th>
                </thead>
                <tbody>
                {% for officer_payment in object.officer_payments %}
                    <tr>
                        <td>{{ officer_payment.as_of_bounding_dates|capfirst }}</td>
                        <td>{% translate '$' %}{{ officer_payment.base_salary }}</td>
                        <td>{{ officer_payment.regular_hours }}</td>
                        <td>{% translate '$' %}{{ officer_payment.regular_gross_pay }}</td>
                        <td>{{ officer_payment.overtime_hours }}</td>
                        <td>{% translate '$' %}{{ officer_payment.overtime_pay }}</td>
                        <td>{% translate '$' %}{{ officer_payment.total_other_pay }}</td>
                        <td>{{ officer_payment.county }}</td>
                        <td>{{ officer_payment.leave_status }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="nodata">{% translate 'No payroll is recorded for this officer.' %}</p>
        {% endif %}
    </div> <!-- div.collapsible -->
    <button type="button" class="collapsible expanded">{% translate 'Associates' %}</button>
    <div class="collapsible">
        {% if object.officer_relationships %}
            <ul class="rel">
                {% for officer_relationship in object.officer_relationships %}
                <li class="rel">
                    <span class="othper">{{ officer_relationship.person }}</span>
                    -
                    <span class="rel">
                        {{ officer_relationship.relationship }}
                        {% if officer_relationship.num > 1 %}
                            {{ officer_relationship.num }} {% translate 'times' %}
                        {% endif %}
                    </span>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="nodata">{% translate 'No associates are recorded for this officer.' %}</p>
        {% endif %}
    </div> <!-- div.collapsible -->
    <button type="button" class="collapsible expanded">{% translate 'Snapshot' %}</button>
    <div class="collapsible">

        <div class="gridrow gridgroup">
            <div class="gridcol gridcell_1_of_3">

                {% if object.snapshot_dict_keys and object.snapshot_dict_keys|length > 0 %}
                {% for c in object.snapshot_dict_keys.0 %}
                <div class="snap">
                    {% with snapshot_dict=object.officer_snapshot_dict|get_value:c %}
                        {% with identifiers=snapshot_dict|get_value:identifiers_key num_cases=snapshot_dict|get_value:num_cases_key settlement_amount_total=snapshot_dict|get_value:settlement_amount_total_key %}
                    <label class="snap">{{ c }}{% if num_cases and num_cases > 1 %} x {{ num_cases }}{% endif %}</label>
                    {% for i in identifiers %}{{ i }}{% if not forloop.last %}, {% endif %}{% empty %}{% translate 'Unnamed' %}{% endfor %}
                    {% if settlement_amount_total and settlement_amount_total > 0 %}<strong>{% translate '$' %}{{ settlement_amount_total }}</strong>{% endif %}
                        {% endwith %}
                    {% endwith %}
                </div>
                {% endfor %}
                {% endif %}
            </div> <!-- div.gridcol.gridcell_1_of_3 -->
            <div class="gridcol gridcell_1_of_3">

                {% if object.snapshot_dict_keys and object.snapshot_dict_keys|length > 1 %}
                {% for c in object.snapshot_dict_keys.1 %}
                <div class="snap">
                    {% with snapshot_dict=object.officer_snapshot_dict|get_value:c %}
                        {% with identifiers=snapshot_dict|get_value:identifiers_key num_cases=snapshot_dict|get_value:num_cases_key settlement_amount_total=snapshot_dict|get_value:settlement_amount_total_key %}
                    <label class="snap">{{ c }}{% if num_cases and num_cases > 0 %} x {{ num_cases }}{% endif %}</label>
                    {% for i in identifiers %}{{ i }}{% if not forloop.last %}, {% endif %}{% empty %}{% translate 'Unnamed' %}{% endfor %}
                    {% if settlement_amount_total and settlement_amount_total > 0 %}<strong>{% translate '$' %}{{ settlement_amount_total }}</strong>{% endif %}
                        {% endwith %}
                    {% endwith %}
                </div>
                {% endfor %}
                {% endif %}

            </div> <!-- div.gridcol.gridcell_1_of_3 -->
            <div class="gridcol gridcell_1_of_3">
                {% if object.snapshot_dict_keys and object.snapshot_dict_keys|length > 2 %}
                {% for c in object.snapshot_dict_keys.2 %}
                <div class="snap">
                    {% with snapshot_dict=object.officer_snapshot_dict|get_value:c %}
                        {% with identifiers=snapshot_dict|get_value:identifiers_key num_cases=snapshot_dict|get_value:num_cases_key settlement_amount_total=snapshot_dict|get_value:settlement_amount_total_key %}
                    <label class="snap">{{ c }}{% if num_cases and num_cases > 0 %} x {{ num_cases }}{% endif %}</label>
                    {% for i in identifiers %}{{ i }}{% if not forloop.last %}, {% endif %}{% empty %}{% translate 'Unnamed' %}{% endfor %}
                    {% if settlement_amount_total and settlement_amount_total > 0 %}<strong>{% translate '$' %}{{ settlement_amount_total }}</strong>{% endif %}
                        {% endwith %}
                    {% endwith %}
                </div>
                {% endfor %}
                {% endif %}

            </div> <!-- div.gridcol.gridcell_1_of_3 -->
        </div> <!-- div.gridrow.gridgroup -->
    </div> <!-- div.collapsible -->

    <button type="button" class="collapsible expanded">{% translate 'Misconduct' %}</button>
    <div class="collapsible">
        {% if object.officer_misconducts or object.officer_contents %}
        {% for officer_misconduct in object.officer_misconducts %}
        <div class="mispad">
            <button type="button" class="collapsible expanded">{% if not officer_misconduct.incident.exact_bounding_dates %}{% translate 'On an unknown date' %}{% else %}{{ officer_misconduct.incident.exact_bounding_dates|capfirst }}{% endif %}</button>
            <div class="collapsible">
                <div class="gridrow gridgroup">
                    <div class="gridcol gridcell_1_of_2">
                        {% if officer_misconduct.incident.description %}<span class="mish1">{% translate 'Incident Summary' %}</span>{% endif %}
                        {% if officer_misconduct.is_guess %}
                        <p class="warning">{% translate 'WARNING: A DIFFERENT OFFICER MAY BE INVOLVED' %}</p>
                        {% endif %}
                        <p class="missummary">{{ officer_misconduct.incident.description }}</p>
                        {% if officer_misconduct.incident.officer_incident_tags %}
                        <p class="mistags">
                            {% for tag in officer_misconduct.incident.officer_incident_tags %}
                                {% translate '#' %}{{ tag.name|title|cut:' ' }}{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </p>
                        {% endif %}
                        {% if officer_misconduct.incident.officer_other_persons %}
                        <span class="mish1">{% translate 'Other Officers Involved' %}</span>
                        <p class="mispeoples">
                            {% for other_person in officer_misconduct.incident.officer_other_persons %}
                                <a href="{% url 'profiles:officer' pk=other_person.person.pk %}">{{ other_person.person.name }}</a>{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </p>
                        {% endif %}
                    </div> <!-- div.gridcol.gridcell_1_of_2 -->
                    <div class="gridcol gridcell_1_of_2">
                        {% if officer_misconduct.parsed_officer_content_person_allegations %}
                        <span class="mish1">{% translate 'Allegations' %}</span>
                        <ul class="misall">
                        {% for allegation, outcomes in officer_misconduct.parsed_officer_content_person_allegations.items %}
                            <li class="misall">
                                <span class="mish2">{{ allegation }}</span>
                                {% for outcome in outcomes %}{{ outcome }}{% if not forloop.last %},{% endif %}{% endfor %}
                            </li>
                        {% endfor %}
                        </ul>
                        {% endif %}

                        {% if officer_misconduct.parsed_officer_content_person_penalties %}
                        <span class="mish1">{% translate 'Penalties' %}</span>
                        <ul class="misall">
                        {% for penalty in officer_misconduct.parsed_officer_content_person_penalties %}
                            <li class="misall"><span class="mish2">{{ penalty }}</span></li>
                        {% endfor %}
                        </ul>
                        {% endif %}

                        {% if officer_misconduct.parsed_officer_content_types and officer_misconduct.parsed_officer_contents %}
                        <span class="mish1">{% translate 'Sources' %}</span>
                        <ul class="misall">
                        {% for officer_content_type in officer_misconduct.parsed_officer_content_types %}
                            <li class="misall">
                                {% with content_dict=officer_misconduct.parsed_officer_contents|get_value:officer_content_type %}
                                    {% with attachments=content_dict|get_value:attachments_key strings=content_dict|get_value:strings_key links=content_dict|get_value:links_key %}
                                    {% for string in strings %}
                                        {% if links|get_item:forloop.counter0 %}
                                            <a href="{{ links|get_item:forloop.counter0 }}"><span class="mish2">{{ string }}</span></a>
                                        {% else %}
                                            <span class="mish2">{{ string }}</span>
                                        {% endif %}
                                    {% endfor %}
                                    {% if attachments %}
                                    <ul class="misall">
                                    {% for attachment in attachments %}
                                        <li class="misall">
                                            {% if attachment.file %}
                                            <a class="misatt" href="{{ attachment.file.url }}" rel="noopener noreferrer" target="_blank" download><i class="fas fa-file-download"></i>
                                            {% elif attachment.link %}
                                            <a class="misatt" href="{{ attachment.link }}"><i class="fas fa-link"></i>
                                            {% endif %}
                                            {{ attachment.name }}{% if attachment.file or attachment.link %}</a>{% endif %}
                                        </li>
                                    {% endfor %}
                                    </ul>
                                    {% endif %}
                                    {% endwith %}
                                {% endwith %}
                            </li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    </div> <!-- div.gridcol.gridcell_1_of_2 -->
                </div> <!-- div.gridrow.gridgroup -->
            </div> <!-- div.collapsible -->
        </div> <!-- div.mispad -->
        {% endfor %}

        {% for content_person in object.officer_contents %}
        {% with content=content_person.content %}
        <div class="mispad">
            <button type="button" class="collapsible expanded">
                {% if content.type %}{{ content.type }}{% endif %}
                {% for content_identifier in content.officer_content_identifiers %}
                    {{ content_identifier.identifier }}{% if not forloop.last %},{% endif %}
                {% empty %}
                    {% translate 'Unnamed' %}
                {% endfor %}
            </button>
            <div class="collapsible">
                <div class="gridrow gridgroup">
                    <div class="gridcol gridcell_1_of_2">
                        <span class="mish1">
                            {% if content.type %}{{ content.type }}{% endif %}
                            {% for content_identifier in content.officer_content_identifiers %}
                                {{ content_identifier.identifier }}{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </span>
                        <p class="missummary">
                            {% if content.description %}{{ content.description }}{% else %}{% translate 'There is no summary available for this content.' %}{% endif %}</p>
                        {% if content_person.content.officer_other_persons %}
                        <span class="mish1">{% translate 'Other Officers Involved' %}</span>
                        <p class="mispeoples">
                            {% for other_person in content.officer_other_persons %}
                                <a href="{% url 'profiles:officer' pk=other_person.person.pk %}">{{ other_person.person.name }}</a>{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </p>
                        {% endif %}

                        {% if content_person.parsed_officer_content_person_allegations %}
                        <span class="mish1">{% translate 'Allegations' %}</span>
                        <ul class="misall">
                        {% for allegation, outcomes in content_person.parsed_officer_content_person_allegations.items %}
                            <li class="misall">
                                <span class="mish2">{{ allegation }}</span>
                                {% for outcome in outcomes %}{{ outcome }}{% if not forloop.last %},{% endif %}{% endfor %}
                            </li>
                        {% endfor %}
                        </ul>
                        {% endif %}

                        {% if content_person.parsed_officer_content_person_penalties %}
                        <span class="mish1">{% translate 'Penalties' %}</span>
                        <ul class="misall">
                        {% for penalty in content_person.parsed_officer_content_person_penalties %}
                            <li class="misall"><span class="mish2">{{ penalty }}</span></li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    </div> <!-- div.gridcol.gridcell_1_of_2 -->
                    <div class="gridcol gridcell_1_of_2">
                        {% if content.content_case %}
                        {% with content_case=content.content_case %}
                        {% if content_case.outcome or content_case.settlement_amount %}
                        <span class="mish1">{% translate 'Outcome' %}</span>
                        <p>
                            {% if content_case.outcome %}{{ content_case.outcome }}{% endif %}
                            {% if content_case.settlement_amount %}{% translate '$' %}{{ content_case.settlement_amount }}{% endif %}
                        </p>
                        {% endif %}
                        {% endwith %}
                        {% endif %}
                        {% if content.name or content.link %}
                        {% if content.name %}<p><span class="mish1inline">{% translate 'Name' %}</span>: {{ content.name }}</p>{% endif %}
                        {% if content.link %}<p><span class="mish1inline">{% translate 'Link' %}</span>: <a class="misatt" href="{{ content.link }}">{{ content.link }}</a></p>{% endif %}
                        {% endif %}
                        {% if content.officer_attachments %}
                        <span class="mish1">{% translate 'Files' %}</span>
                        <ul class="misall">
                        {% for attachment in content.officer_attachments %}
                            <li class="misall">
                                {% if attachment.file %}
                                <a class="misatt" href="{{ attachment.file.url }}" rel="noopener noreferrer" target="_blank" download><i class="fas fa-file-download"></i>
                                {% elif attachment.link %}
                                <a class="misatt" href="{{ attachment.link }}"><i class="fas fa-link"></i>
                                {% endif %}
                                {{ attachment.name }}{% if attachment.file or attachment.link %}</a>{% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    </div> <!-- div.gridcol.gridcell_1_of_2 -->
                </div> <!-- div.gridrow.gridgroup -->
            </div> <!-- div.collapsible -->
        </div> <!-- div.mispad -->
        {% endwith %}
        {% endfor %}

        {% else %}
            <p class="nodata">{% translate 'No misconduct is recorded for this officer.' %}</p>
        {% endif %}
    </div> <!-- div.collapsible -->

{% endblock %}


{% block endscript %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    {{ block.super }}
{% endblock %}

{% block onready %}
    {{ block.super }}
    Fdp.OfficerProfile.init();
{% endblock %}
