---
  - name: "Provision local development environment"
    hosts: localhost
    connection: local
    tasks:

      - name: "Install os package dependencies"
        apt:
          pkg: python3-pip, gcc, python3-dev, libpq-dev, python3-wheel, python3-venv, postgresql-12, firefox, xvfb

      - name: "Initialize database"
        become: yes
        become_user: postgres
        shell: |
          psql < /vagrant/deploy/local/init_db.sql
          psql -d template1 -c 'CREATE EXTENSION pg_trgm;' # Enable trigram similarity extension in test databases

      - name: "Start app config file"
        copy:
          src: "/vagrant/fdp/settings_example.py"
          dest: "/vagrant/fdp/settings.py"

      - name: "Add settings to app config file"
        blockinfile:
          path: "/vagrant/fdp/settings.py"
          block: |
            DATABASES['default']['PASSWORD'] = 'opensesame'
            SECRET_KEY = 'opensesame'
            QUERYSTRING_PASSWORD = 'ymllgljp//NRW9W7INVajTBS46oBpt0NLPfr7yQ6PEw='

      - name: "Set up python runtime environment"
        shell: |
          sudo -u vagrant bash
          cd /home/vagrant
          python3 -m venv /home/vagrant/venv-vagrant
        args:
          creates: /home/vagrant/venv-vagrant

      - name: "Install python dependencies"
        pip:
          requirements: "/vagrant/requirements.txt"
          virtualenv: "/home/vagrant/venv-vagrant"

      - name: "Set permissions on manage.py"
        file:
          path: /vagrant/manage.py
          mode: a+x

      - name: "Run Django database model migrations"
        shell: |
          /home/vagrant/venv-vagrant/bin/python /vagrant/manage.py migrate

      - name: "Load demo data records"
        shell: |
          /home/vagrant/venv-vagrant/bin/python /vagrant/manage.py loaddata --ignorenonexistent /vagrant/deploy/local/demo_data/fixture.json

      - name: "Load demo data files"
        copy:
          src: /vagrant/deploy/local/demo_data/media/
          dest: /media/

      - name: "Set up shell to automatically load venv and cd into project root, and settings for tests"
        blockinfile:
          path: "/home/vagrant/.profile"
          block: |
            export FDP_SECRET_KEY='opensesame'
            export FDP_QUERYSTRING_PASSWORD='ymllgljp//NRW9W7INVajTBS46oBpt0NLPfr7yQ6PEw='
            source /home/vagrant/venv-vagrant/bin/activate
            cd /vagrant

      - name: "Install Redis server (used by Celery) and set up celery log path"
        shell: |
          curl -fsSL https://packages.redis.io/gpg | gpg --dearmor -o /usr/share/keyrings/redis-archive-keyring.gpg
          echo "deb [signed-by=/usr/share/keyrings/redis-archive-keyring.gpg] https://packages.redis.io/deb stretch main" | tee /etc/apt/sources.list.d/redis.list
          apt-get update
          apt-get install -y redis
          mkdir /var/log/celery
          chown vagrant.vagrant /var/log/celery

      - name: "Add helpful instructions on next steps using local instance"
        blockinfile:
          path: /etc/motd
          create: yes
          marker: ""
          block: |
            ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

            FULL DISCLOSURE PROJECT App local development environment
            WARNING: Do not use this environment for production!

            Add the first user with this command:
            'python manage.py createsuperuser  --email admin@localhost'

            Then run the testing web server:
            'python manage.py runserver 0.0.0.0:8000'

            Then point your browser to 'localhost:8000' to see the FDP Application

            To test the Celery background tasks manager on imports and exports run:
            'celery -A importer_narwhal.celerytasks worker -l INFO'

      - name: "Install python tests dependencies"
        pip:
          requirements: "/vagrant/functional_tests/requirements.txt"
          virtualenv: "/home/vagrant/venv-vagrant"

      - name: "Install selenium driver"
        shell: |
          cd /home/vagrant/venv-vagrant/bin/
          wget https://github.com/mozilla/geckodriver/releases/download/v0.30.0/geckodriver-v0.30.0-linux64.tar.gz
          tar xvzf geckodriver-*-linux64.tar.gz
