#content {
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
    max-width: 240px;
    width: 240px;
    min-width: 240px;
    text-align: center;
    margin: 2em;
}
.column i:not(.fa-star) {
    font-size: 200%;
}
.column i.fa-star {
    margin-right: 0.25em;
}

.column.content i { color: #45A26D; }
.column.incidents i { color: #ba2121; }
.column.persons i { color: #666; }
.column.groupings i { color: #E4BF60; }
.column.advanced i { color: #4E579D; }
.column.profiles i { color: #9F621C; }

/* For mobile users (width <= 480px), apply full width */
@media only screen and (max-width: 640px) {
	.row {
	    display: block;
    }
    .column {
        max-width: initial;
        width: initial;
        min-width: initial;
    }
}
