/* COMMON STYLING FOR JQUERY UI AUTOCOMPLETE TOOL */
/* containing UL element for autocomplete for incidents (shrink because corresponding input is widened) */
.ui-autocomplete.incidentac { width: 70%; }
/* Hovering over any autocomplete suggestion */
/* .ui-autocomplete li:hover, .ui-autocomplete li div:hover { background: #FFECBB; } */
/* CSS class that is automatically assigned to the searching element in the autocomplete widget when its status is not OK */
/* An example is when a user begins to delete text from the searching element, so the ID value in the hidden element is removed */
/* .notokac { box-shadow: 0 0 4px 4px #ba2121; } */
/* CSS class that is automatically assigned to the searching element in the autocomplete widget when its status is OK */
/* An example is when a user selects a record suggested by the widget */
/* .okac { box-shadow: 0 0 4px 4px #45A26D; } */

/* Person lookup tool
 *
 */
@media (min-width: 767px) {
  .personform .ui-autocomplete-input,
  .personrelationshipform .ui-autocomplete-input,
  .personincidentform .ui-autocomplete-input
  {
    width: 35em;
  }
}

.person-select-teaser {
  padding: 0.5em;
}

ul.ui-autocomplete.personac,
.ui-autocomplete.personname
{
  max-height: 20rem;
  overflow-y: auto;
  box-shadow: 0px 10px 15px gray;
}
.ui-autocomplete.personac .ui-menu-item {
  border-top: 1px solid #ccc;
}
.ui-autocomplete.personac .person-select-details,
.ui-autocomplete.personac .person-select-aliases {
  font-size: 90%;
}

.person-select-identifiers {
  float: right;
  max-width: 49%;
}
.person-select-titles {
  max-width: 49%;
}

.personrelationshipform select.relationshiptype {
  vertical-align: top;
}

/* Fix horizontal scroll bar appearing when hovering over select list items... */
.ui-autocomplete.personac div.ui-menu-item-wrapper {
  padding: 0;
}

/* Make active item be shaded */
.ui-autocomplete.personac div.ui-menu-item-wrapper.ui-state-active {
  padding: 0;
  border: 0;
  margin: 0;
}
.ui-autocomplete.personac div.ui-menu-item-wrapper.ui-state-active *
{
  background-color: #ddf4ff;
}


/* profile link */
.ui-autocomplete .person-select-link {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
    backdrop-filter: blur(3px);
    opacity: 100%;
    border-left: 1px dashed #666;
}
.ui-autocomplete.personac li:hover .person-select-link {
    display: flex;
}

/*
.ui-autocomplete.personac li div.person-select-link:hover {
  background-color: rgba(0,0,0,.1);
}
*/

ul.ui-autocomplete.personac > li {
  padding: 0;
}

/* Info card */
.autocomplete-info-card {
    position: relative;
    width: 36em;
    border: 1px dotted #666;
    min-height: 6em;
    border-top: 0;
    padding: 1em;
    box-sizing: border-box;
    line-height: 1.3em;
}
.autocomplete-info-card .person-select-name {
  display: none;
}
.autocomplete-info-card .person-select-link {
    position: absolute;
    top: 1px;
    right: 1px;
    background-color: rgba(255,255,255, .7);
    padding: 0.3rem;
    box-shadow: 0px 0px 10px white;
}
.autocomplete-info-card .person-select-link a {
  text-decoration: underline;
}

.autocomplete-person-wrapper.subject {
  margin-right: 1em;
}
.autocomplete-person-wrapper.object {
  margin-left: 1em;
}

.personrelationshipform button.subjectrelicon,
.personrelationshipform button.objectrelicon {
  vertical-align: top;
}
