{% extends "common/fdp_base_site.html" %}
{% load i18n admin_urls static compress %}

{% block extrahead %}
    {{ block.super }}
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'wholesale/css/wholesale_import_log.css' %}">
    {% endcompress %}
{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'profiles:index' %}">{% translate 'Home' %}</a>
    &rsaquo;
    <a href="{% url 'changing:index' %}">{% translate 'Admin' %}</a>
    &rsaquo;
    <a href="{% url 'wholesale:index' %}">{% translate 'Importer' %}</a>
    &rsaquo;
    <a href="{% url 'wholesale:logs' %}">{% translate 'Batches' %}</a>
    &rsaquo;
    {{ title }}
</div>
{% endblock %}
{% endif %}
{% block content %}

    <table>
        <thead>
            <tr>
                <th>{% translate 'Batch' %}</th>
                <th>{% translate 'Created' %}</th>
                <th>{% translate 'By' %}</th>
                <th>{% translate 'Type' %}</th>
                <th>{% translate 'File' %}</th>
                <th>{% translate 'Models' %}</th>
                <th>{% translate 'Errors' %}</th>
                <th>{% translate 'Rows imported' %}</th>
                <th>{% translate 'Rows with errors' %}</th>
                <th>{% translate 'Started' %}</th>
                <th>{% translate 'Ended' %}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ wholesale_import.pk }}</td>
                <td>{{ wholesale_import.created_timestamp|date }}</td>
                <td>{{ wholesale_import.user }}</td>
                <td>{{ wholesale_import.get_action_display }}</td>
                <td>{% if wholesale_import.file %}<a href="{{ wholesale_import.file.url }}" rel="noopener noreferrer" target="_blank" download><i class="fas fa-file-download"></i></a>{% endif %}</td>
                <td>{{ wholesale_import.import_models_as_str }}</td>
                <td>{{ wholesale_import.import_errors }}</td>
                <td>{{ wholesale_import.imported_rows }}</td>
                <td>{{ wholesale_import.error_rows }}</td>
                <td>{% if wholesale_import.is_started %}<i class="ok fas fa-check-circle"></i>{% endif %}</td>
                <td>{% if wholesale_import.is_ended %}<i class="ok fas fa-check-circle"></i>{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <table class="recs">
        <thead>
            <tr>
                <th>{% translate 'Reference' %}</th>
                <th>{% translate 'Model' %}</th>
                <th>{% translate 'CSV Row' %}</th>
                <th>{% translate 'Database PK' %}</th>
                <th>{% translate 'Errors' %}</th>
            </tr>
        </thead>
        <tbody>

        {% for wholesale_import_record in object_list %}
            <tr>
                <td>{% if wholesale_import_record.admin_url %}<a href="{{ wholesale_import_record.admin_url }}">#{{ wholesale_import_record.pk }}{% else %}#{{ wholesale_import_record.pk }}{% endif %}</a></td>
                <td>{{ wholesale_import_record.model_name }}</td>
                <td>{{ wholesale_import_record.row_num }}</td>
                <td>{{ wholesale_import_record.instance_pk }}</td>
                <td>{{ wholesale_import_record.errors }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5">{% translate 'No records were imported.' %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
