{% extends "admin/base_site.html" %}
{% load i18n admin_urls static compress profiles_extras %}
{% block extrastyle %}
    {{ block.super }}
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/fdp_nonadmin.css' %}">
    {% endcompress %}
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'profiles:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block bodyclass %}{{ block.super }} fdpbody{% endblock %}

{% block userlinks %}
    <a href="{% url 'fdpuser:settings' %}">{% trans 'Settings' %}</a> /
    {% if is_admin %}
        <a href="{% url 'changing:index' %}">{% trans 'Admin' %}</a> /
    {% endif %}
    {% if not only_external_auth %}
        <a class="onlogout" href="{% url 'logout' %}">{% trans 'Log out' %}</a>
    {% else %}
        {% include "common/fdp_logout.html" %}
    {% endif %}
{% endblock %}

{% block footer_global %}
    <div id="footer-global">
        <div class="footer-row">
              {% if custom_text_block_global_left %}
        <div id="custom-text-block-global-left" class="global-text-box">
            {% if is_admin %}
            <a href="{%url 'profiles:site_settings' %}" class="custom-text-edit-link" target="_blank"> <i class="fas fa-edit" aria-hidden="true" title="edit"></i> <span class="sr-only">edit</span></a>
            {% endif %}
            {{ custom_text_block_global_left|sanitize_html|safe }}
        </div>
        {% endif %}
        {% if custom_text_block_global_right %}
        <div id="custom-text-block-global-right" class="global-text-box">
            {% if is_admin %}
            <a href="{%url 'profiles:site_settings' %}" class="custom-text-edit-link" target="_blank"> <i class="fas fa-edit" aria-hidden="true" title="edit"></i> <span class="sr-only">edit</span></a>
            {% endif %}
            {{ custom_text_block_global_right|sanitize_html|safe }}
        </div>
        {% endif %}
        </div>
      {% if user.is_authenticated %}<div id="release-number">FDP App 6.0.4</div>{% endif %}
    </div>
{% endblock %}
