{% extends "admin/base_site.html" %}
{% load i18n admin_urls static compress %}

{% block extrastyle %}
    {{ block.super }}
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/fdp_nonadmin.css' %}">
    {% endcompress %}
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'profiles:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block bodyclass %}{{ block.super }} fdpbody{% endblock %}

{% block userlinks %}
    <a href="{% url 'fdpuser:settings' %}">{% trans 'Settings' %}</a> /
    {% if is_admin %}
        <a href="{% url 'changing:index' %}">{% trans 'Admin' %}</a> /
    {% endif %}
    {% if not only_external_auth %}
        <a href="{% url 'logout' %}">{% trans 'Log out' %}</a>
    {% else %}
        {% include "common/fdp_logout.html" %}
    {% endif %}
{% endblock %}
