{% extends 'common/fdp_base_site.html' %}
{% load i18n static compress %}

{% block extrastyle %}
    {{ block.super }}
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/password_reset.css' %}">
    {% endcompress %}
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'two_factor:login' %}">{% trans 'Full Disclosure Project'  %}</a></h1>
{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'two_factor:login' %}">{% trans 'Login' %}</a>
    {% if title %} &rsaquo; {{ title }}{% endif %}
  </div>
{% endblock %}
