{% extends "common/base-bootstrap.html" %}
{% load i18n admin_urls static compress crispy_forms_tags %}

{% block breadcrumbs %}
<li><a href="{% url 'changing:index' %}">{% translate 'Admin' %}</a></li>
<li>{{ title }}</li>
{% endblock %}

{% block content %}
<div class="datum datum-batch_number"><span class="label">Batch number</span> <span class="value">{{object.pk}}</span></div>
<div class="datum datum-started"><span class="label">Started</span> <span class="value">{{object.started_fmt}}</span></div>
<div class="datum datum-completed"><span class="label">Completed</span>  <span class="value">{{object.completed_fmt}}</span></div>
<div class="datum datum-submitted_file_name"><span class="label">File name</span>  <span class="value">{{object.submitted_file_name}}</span></div>
<div class="datum datum-target_model_name"><span class="label">Model name</span>  <span class="value">{{object.target_model_name}}</span></div>
<div class="datum datum-number_of_rows"><span class="label">Rows</span>  <span class="value">{{object.number_of_rows}}</span></div>

<h2>Errors</h2>
{% if error_rows_paginated %}
<table class="table table-striped">
<tr>
  <th>Row number</th>
  <th>Error message</th>
  <th>Row data</th>
</tr>
{% for error in error_rows_paginated %}
<tr>
  <td class="datum-row_number">{{ error.row_number }}</td>
  <td class="datum-error_message">{{ error.error_message }}</td>
  <td class="datum-row_data">
    <button class="btn btn-link" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse-{{ error.row_number }}" aria-expanded="false"
            aria-controls="multiCollapse{{ error.row_number }}">show</button>
    <div id="collapse-{{ error.row_number }}" class="collapse">{{ error.row_data }}</div>
  </td>
</tr>
{% endfor %}
</table>
{% else %}
<p>None</p>
{% endif %}

<h2>Imported</h2>
{% if imported_rows_paginated %}
<table class="table table-striped">
<tr>
  <th>Row number</th>
  <th>Errors</th>
  <th>PK</th>
  <th>Name</th>
  <th>Data</th>
</tr>
{% for imported_row in imported_rows_paginated %}
<tr>
  <td class="datum-row_number">{{ imported_row.row_number }}</td>
  <td class="datum-error">{{ imported_row.errors }}</td>
  <td class="datum-pk">{{ imported_row.imported_record_pk }}</td>
  <td class="datum-name">{{ imported_row.imported_record_name }}</td>
  <td class="datum-info">
    <button class="btn btn-link" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse-{{ imported_row.row_number }}" aria-expanded="false"
            aria-controls="multiCollapse{{ imported_row.row_number }}">show</button>
    <div id="collapse-{{ imported_row.row_number }}" class="collapse">{{ imported_row.info }}</div>
  </td>
</tr>
{% endfor %}
</table>
{% else %}
<p>None</p>
{% endif %}

{% if page_obj.paginator.num_pages > 1 %}
  <nav aria-label="Pagination">
    <ul class="pagination">
      <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}"><a class="page-link" href="?page=1">&laquo; First</a></li>
      <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}"><a class="page-link" href="?page={% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% endif %}">Previous</a></li>
      <li class="page-item disabled"><a class="page-link" tabindex="-1" aria-disabled="true" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
      <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}"><a class="page-link" href="?page={% if page_obj.has_next %}{{ page_obj.next_page_number }}{% endif %}">Next</a></li>
      <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}"><a class="page-link" href="?page={% if page_obj.has_next %}{{ page_obj.paginator.num_pages }}{% endif %}">Last &raquo;</a></li>
    </ul>
  </nav>
{% endif %}

{% endblock %}
