{% extends "common/base-bootstrap.html" %}
{% load i18n admin_urls static compress crispy_forms_tags %}

{% block breadcrumbs %}
<li><a href="{% url 'changing:index' %}">{% translate 'Admin' %}</a></li>
<li>{{ title }}</li>
{% endblock %}

{% block content %}
<div class="datum datum-batch_number"><span class="label">Batch number:</span> {{object.pk}}</div>
<div class="datum datum-started"><span class="label">Started:</span> {{object.started_fmt}}</div>
<div class="datum datum-completed"><span class="label">Completed:</span>  {{object.completed_fmt}}</div>
<div class="datum datum-submitted_file_name"><span class="label">File name:</span>  {{object.submitted_file_name}}</div>
<div class="datum datum-target_model_name"><span class="label">Model name:</span>  {{object.target_model_name}}</div>
<div class="datum datum-number_of_rows"><span class="label">Rows:</span>  {{object.number_of_rows}}</div>

{% if error_rows_paginated %}
<h2>Errors</h2>
<table class="table table-striped">
<tr>
  <th>Row number</th>
  <th>Error message</th>
  <th>Row data</th>
</tr>
{% for error in error_rows_paginated %}
<tr>
  <td class="datum-row_number">{{ error.row_number }}</td>
  <td class="datum-error_message">{{ error.error_message }}</td>
  <td class="datum-row_data">
    <button class="btn btn-link" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse-{{ error.row_number }}" aria-expanded="false"
            aria-controls="multiCollapse{{ error.row_number }}">show</button>
    <div id="collapse-{{ error.row_number }}" class="collapse">{{ error.row_data }}</div>
  </td>
</tr>
{% endfor %}
</table>


{% elif imported_rows_paginated %}
<h2>Imported</h2>
<table class="table table-striped">
<tr>
  <th>Row number</th>
  <th>Errors</th>
  <th>PK</th>
  <th>Name</th>
  <th>Data</th>
</tr>
{% for imported_row in imported_rows_paginated %}
<tr>
  <td class="datum-row_number">{{ imported_row.row_number }}</td>
  <td class="datum-error">{{ imported_row.errors }}</td>
  <td class="datum-pk">{{ imported_row.imported_record_pk }}</td>
  <td class="datum-name">{{ imported_row.imported_record_name }}</td>
  <td class="datum-info">
    <button class="btn btn-link" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse-{{ imported_row.row_number }}" aria-expanded="false"
            aria-controls="multiCollapse{{ imported_row.row_number }}">show</button>
    <div id="collapse-{{ imported_row.row_number }}" class="collapse">{{ imported_row.info }}</div>
  </td>
</tr>
{% endfor %}
</table>
{% endif %}

    <div class="pagination-post">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <form method="get">
                    <input type="hidden" name="q" value="{{ query }}">
                    <input type="submit" value="&laquo; first">
                </form>
                <form method="get">
                    <input type="hidden" name="q" value="{{ query }}">
                    <input type="hidden" name="page" value="{{ page_obj.previous_page_number }}">
                    <input type="submit" value="previous">
                </form>
            {% endif %}

            {% if page_obj.paginator.num_pages > 1 %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
            {% endif %}

            {% if page_obj.has_next %}
                <form method="get">
                    <input type="hidden" name="q" value="{{ query }}">
                    <input type="hidden" name="page" value="{{ page_obj.next_page_number }}">
                    <input type="submit" value="next">
                </form>
                <form method="get">
                    <input type="hidden" name="q" value="{{ query }}">
                    <input type="hidden" name="page" value="{{ page_obj.paginator.num_pages }}">
                    <input type="submit" value="last &raquo;">
                </form>
            {% endif %}
        </span>
    </div>

{% endblock %}
