{% extends "common/fdp_base_site.html" %}
{% load i18n admin_urls static compress %}

{% block extrahead %}{{ block.super }}{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'changing/css/admin_home.css' %}">
    {% endcompress %}
{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'profiles:index' %}">{% translate 'Home' %}</a>
    &rsaquo;
    {{ title }}
</div>
{% endblock %}
{% endif %}
{% block content %}

<div class="row">
    <div class="column content">
        <a href="{%url 'changing:content' %}"><i class="fas fa-file-alt"></i></a>
        <h3><a href="{%url 'changing:content' %}">{% translate 'Content' %}</a></h3>
        <p><strong><i class="fas fa-star"></i>{% translate 'Start here' %}</strong> {% translate 'most of the time, with lawsuits, IAB cases, news articles and more.' %}</p>
    </div>
    <div class="column incidents">
        <a href="{%url 'changing:incidents' %}"><i class="fas fa-balance-scale"></i></a>
        <h3><a href="{%url 'changing:incidents' %}">{% translate 'Incidents' %}</a></h3>
        <p>{% translate 'Add and change wrongful arrests, assaults and other violations.' %}</p>
    </div>
    <div class="column persons">
        <a href="{%url 'changing:persons' %}"><i class="fas fa-user"></i></a>
        <h3><a href="{%url 'changing:persons' %}">{% translate 'Personnel' %}</a></h3>
        <p>{% translate 'Add and change officers, civilians, legal staff and the links to them.' %}</p>
    </div>
    <div class="column groupings">
        <a href="{%url 'changing:groupings' %}"><i class="fas fa-users"></i></a>
        <h3><a href="{%url 'changing:groupings' %}">{% translate 'Groupings' %}</a></h3>
        <p>{% translate 'Add and change police units, defender organizations and other groupings of people.' %}</p>
    </div>
    {% if user.is_host or user.is_superuser %}
    <div class="column wholesale">
        <a href="{%url 'wholesale:index' %}"><i class="fas fa-tasks"></i></a>
        <h3><a href="{%url 'wholesale:index' %}">{% translate 'Importer' %}</a></h3>
        <p>{% translate 'Add and update large volumes of data using a simplified and automated process.' %}</p>
    </div>
    {% endif %}
    <div class="column advanced">
        <a href="{%url 'admin:index' %}"><i class="fas fa-database"></i></a>
        <h3><a href="{%url 'admin:index' %}">{% translate 'Advanced' %}</a></h3>
        <p>{% translate 'For advanced users only. Manage the database directly, table-by-table.' %}</p>
    </div>
    <div class="column profiles">
        <a href="{%url 'profiles:index' %}"><i class="far fa-address-card"></i></a>
        <h3><a href="{%url 'profiles:index' %}">{% translate 'Profiles' %}</a></h3>
        <p>{% translate 'Search for and view officer profiles and more.' %}</p>
    </div>
    <div class="column site-settings">
        <a href="{%url 'profiles:site_settings' %}"><i class="fas fa-cog"></i></a>
        <h3><a href="{%url 'profiles:site_settings' %}">{% translate 'Site Settings' %}</a></h3>
        <p>{% translate 'Customize the site that your users see.' %}</p>
    </div>
</div>

{% endblock %}
