{% extends "common/fdp_base_site.html" %}
{% load static compress %}

{% block extrahead %}
    {{ block.super }}
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}">
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'changing/css/fdp_admin_forms.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'changing/css/autocomplete.css' %}">
    {% endcompress %}
{% endblock %}
