{% extends "common/fdp_base_site.html" %}
{% load i18n admin_urls static compress %}

{% block extrastyle %}
    {{ block.super }}
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/common_search.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'changing/css/search.css' %}">
    {% endcompress %}
{% endblock %}

{% block content %}

{% if query %}
<h1>Content search: "{{ query }}"</h1>
<p>{{ count }} records found</p>
{% else %}
<h1>Content Roundup</h1>
<p>{{ count }} records</p>
{% endif %}

<form method="post">
    {% csrf_token %}
    <input type="text" name="q" value="{{ query }}" size="100">
    <input type="submit" value="Search">
</form>

{% if page_obj %}
    <span class="results">
        {% for content in page_obj %}
        <a href="{{ content.get_edit_url }}">{{ content.name|truncatechars:100 }}</a> <span class="content-type">{{ content.type|default:'' }}</span><br>
        <blockquote>{{ content.headline|safe }}</blockquote>
        {% endfor %}
    </div>

    <div class="pagination-post">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="q" value="{{ query }}">
                    <input type="submit" value="&laquo; first">
                </form>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="q" value="{{ query }}">
                    <input type="hidden" name="page" value="{{ page_obj.previous_page_number }}">
                    <input type="submit" value="previous">
                </form>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="q" value="{{ query }}">
                    <input type="hidden" name="page" value="{{ page_obj.next_page_number }}">
                    <input type="submit" value="next">
                </form>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="q" value="{{ query }}">
                    <input type="hidden" name="page" value="{{ page_obj.paginator.num_pages }}">
                    <input type="submit" value="last &raquo;">
                </form>
            {% endif %}
        </span>
    </div>
{% endif %}

{% endblock %}
