{% extends "base_object_form.html" %}
{% load i18n admin_urls static compress changing_extras %}

{% block extrahead %}
    {{ block.super }}
    {% compress js %}
    <script src="{% static 'changing/js/grouping.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'changing/css/grouping.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/collapsible.css' %}">
    {% endcompress %}
{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'profiles:index' %}">{% translate 'Home' %}</a>
    &rsaquo;
    <a href="{% url 'changing:index' %}">{% translate 'Admin' %}</a>
    &rsaquo;
    <a href="{% url 'changing:groupings' %}">{% translate 'Groupings' %}</a>
    &rsaquo;
    {{ title }}
</div>
{% endblock %}
{% endif %}
{% block content %}
    <form method="post">{% csrf_token %}
        {% if form.non_field_errors %}
        <div>
            {{ form.non_field_errors }}
        </div>
        {% endif %}

        <button type="button" class="collapsible expanded">{% translate 'Details' %}</button>
        <div class="collapsible">
            <div class="groupingdetailsform">
                {% include "wizard_form.html" with form=form force_read_only=False %}
            </div>
        </div> <!-- div.collapsible for Details -->

        <button type="button" class="collapsible expanded">{% translate 'Aliases' %}</button>
        <div class="collapsible">
            <div>
                {{ grouping_alias_model_formset.management_form }}
            </div>
            {% for nested_form in grouping_alias_model_formset %}
            <div class="groupingaliasform">
                {% include "inline_wizard_form.html" with form=nested_form del_icon_class="delalias" has_delete=True parent_counter=forloop.counter0 is_empty_form=False %}
            </div> <!-- div.groupingaliasform -->
            {% endfor %}
            <div id="emptygroupingalias" class="groupingaliasform emptyform">
                {% include "inline_wizard_form.html" with form=grouping_alias_model_formset.empty_form del_icon_class="delalias" has_delete=True parent_counter=forloop.counter0 is_empty_form=True %}
            </div> <!-- div#emptygroupingalias -->
            <div>
                <span id="newgroupingalias" class="clickable"><i class="fas fa-plus-circle"></i> {% translate 'Add another alias' %}</span>
            </div>
        </div> <!-- div.collapsible for Aliases -->

        <button type="button" class="collapsible expanded">{% translate 'Relationships' %}</button>
        <div class="collapsible">
            <div>
                {{ grouping_relationship_model_formset.management_form }}
            </div>
            {% for nested_form in grouping_relationship_model_formset %}
            <div class="groupingrelationshipform">
                {% include "inline_wizard_form.html" with form=nested_form del_icon_class="delrelationship" has_delete=True parent_counter=forloop.counter0 is_empty_form=False %}
            </div> <!-- div.groupingrelationshipform -->
            {% endfor %}
            <div id="emptygroupingrelationship" class="groupingrelationshipform emptyform">
                {% include "inline_wizard_form.html" with form=grouping_relationship_model_formset.empty_form del_icon_class="delrelationship" has_delete=True parent_counter=forloop.counter0 is_empty_form=True %}
            </div> <!-- div#emptygroupingrelationship -->
            <div>
                <span id="newgroupingrelationship" class="clickable"><i class="fas fa-plus-circle"></i> {% translate 'Add another relationship' %}</span>
            </div>
        </div> <!-- div.collapsible for Relationships -->

        <input type="submit" value="Save">

    </form>

{% endblock %}

{% block onready %}
    {{ block.super }}
    Fdp.Common.jsonSearchCriteria = "{{ json_search_criteria }}";

    // initialize interface elements
    Fdp.ChangingGrouping.init(
        {% if is_editing %}true{% else %}false{% endif %}, /* isEditing */
        "{% url 'changing:async_get_groupings' %}" /* getGroupingsUrl */
    );

{% endblock %}