{% extends "base_object_form.html" %}
{% load i18n admin_urls static compress changing_extras %}

{% block extrahead %}
    {{ block.super }}
    {% compress js %}
    <script src="{% static 'changing/js/person.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'changing/css/person.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/collapsible.css' %}">
    {% endcompress %}
{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'profiles:index' %}">{% translate 'Home' %}</a>
    &rsaquo;
    <a href="{% url 'changing:index' %}">{% translate 'Admin' %}</a>
    &rsaquo;
    <a href="{% url 'changing:persons' %}">{% translate 'People' %}</a>
    &rsaquo;
    {{ title }}
</div>
{% endblock %}
{% endif %}
{% block content %}
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {% if form.non_field_errors %}
        <div>
            {{ form.non_field_errors }}
        </div>
        {% endif %}

        <button type="button" class="collapsible expanded">{% translate 'Details' %}</button>
        <div class="collapsible">
            <div>
                {% include "wizard_form.html" with form=form force_read_only=False %}
            </div>
        </div> <!-- div.collapsible for Details -->

        <button type="button" class="collapsible expanded">{% translate 'Identifiers' %}</button>
        <div class="collapsible">
            <div>
                {{ person_identifier_model_formset.management_form }}
            </div>
            {% for nested_form in person_identifier_model_formset %}
            <div class="identifierform">
                {% include "inline_wizard_form.html" with form=nested_form del_icon_class="delidentifier" has_delete=True parent_counter=forloop.counter0 is_empty_form=False %}
            </div> <!-- div.identifierform -->
            {% endfor %}
            <div id="emptyidentifier" class="identifierform emptyform">
                {% include "inline_wizard_form.html" with form=person_identifier_model_formset.empty_form del_icon_class="delidentifier" has_delete=True parent_counter=forloop.counter0 is_empty_form=True %}
            </div> <!-- div#emptyidentifier -->
            <div>
                <span id="newidentifier" class="clickable"><i class="fas fa-plus-circle"></i> {% translate 'Add another identifier' %}</span>
            </div>
        </div> <!-- div.collapsible for Identifiers -->

        <button type="button" class="collapsible expanded">{% translate 'Photos' %}</button>
        <div class="collapsible">
            <div>
                {{ person_photo_model_formset.management_form }}
            </div>
            {% for nested_form in person_photo_model_formset %}
            <div class="personphotoform">
                {% include "inline_wizard_form.html" with form=nested_form del_icon_class="delphoto" has_delete=True parent_counter=forloop.counter0 is_empty_form=False %}
            </div> <!-- div.personphotoform -->
            {% endfor %}
            <div id="emptypersonphoto" class="personphotoform emptyform">
                {% include "inline_wizard_form.html" with form=person_photo_model_formset.empty_form del_icon_class="delphoto" has_delete=True parent_counter=forloop.counter0 is_empty_form=True %}
            </div> <!-- div#emptypersonphoto -->
            <div>
                <span id="newpersonphoto" class="clickable"><i class="fas fa-plus-circle"></i> {% translate 'Add another photo' %}</span>
            </div>
        </div> <!-- div.collapsible for Photos -->

        <button type="button" class="collapsible expanded">{% translate 'Contact' %}</button>
        <div class="collapsible">
            <div>
                {{ person_contact_model_formset.management_form }}
            </div>
            {% for nested_form in person_contact_model_formset %}
            <div class="personcontactform">
                {% include "inline_wizard_form.html" with form=nested_form del_icon_class="delcontact" has_delete=True parent_counter=forloop.counter0 is_empty_form=False %}
            </div> <!-- div.personcontactform -->
            {% endfor %}
            <div id="emptypersoncontact" class="personcontactform emptyform">
                {% include "inline_wizard_form.html" with form=person_contact_model_formset.empty_form del_icon_class="delcontact" has_delete=True parent_counter=forloop.counter0 is_empty_form=True %}
            </div> <!-- div#emptypersoncontact -->
            <div>
                <span id="newpersoncontact" class="clickable"><i class="fas fa-plus-circle"></i> {% translate 'Add another contact' %}</span>
            </div>
        </div> <!-- div.collapsible for Contact -->

        <button type="button" class="collapsible expanded">{% translate 'Groupings' %}</button>
        <div class="collapsible">
            <div>
                {{ person_grouping_model_formset.management_form }}
            </div>
            {% for nested_form in person_grouping_model_formset %}
            <div class="persongroupingform">
                {% include "inline_wizard_form.html" with form=nested_form del_icon_class="delgrouping" has_delete=True parent_counter=forloop.counter0 is_empty_form=False %}
            </div> <!-- div.persongroupingform -->
            {% endfor %}
            <div id="emptypersongrouping" class="persongroupingform emptyform">
                {% include "inline_wizard_form.html" with form=person_grouping_model_formset.empty_form del_icon_class="delgrouping" has_delete=True parent_counter=forloop.counter0 is_empty_form=True %}
            </div> <!-- div#emptypersongrouping -->
            <div>
                <span id="newpersongrouping" class="clickable"><i class="fas fa-plus-circle"></i> {% translate 'Add another grouping' %}</span>
            </div>
        </div> <!-- div.collapsible for Groupings -->

        <button type="button" class="collapsible expanded">{% translate 'Titles' %}</button>
        <div class="collapsible">
            <div>
                {{ person_title_model_formset.management_form }}
            </div>
            {% for nested_form in person_title_model_formset %}
            <div class="persontitleform">
                {% include "inline_wizard_form.html" with form=nested_form del_icon_class="deltitle" has_delete=True parent_counter=forloop.counter0 is_empty_form=False %}
            </div> <!-- div.persontitleform -->
            {% endfor %}
            <div id="emptypersontitle" class="persontitleform emptyform">
                {% include "inline_wizard_form.html" with form=person_title_model_formset.empty_form del_icon_class="deltitle" has_delete=True parent_counter=forloop.counter0 is_empty_form=True %}
            </div> <!-- div#emptypersontitle -->
            <div>
                <span id="newpersontitle" class="clickable"><i class="fas fa-plus-circle"></i> {% translate 'Add another title' %}</span>
            </div>
        </div> <!-- div.collapsible for Titles -->

        <button type="button" class="collapsible expanded">{% translate 'Payroll' %}</button>
        <div class="collapsible">
            <div>
                {{ person_payment_model_formset.management_form }}
            </div>
            {% for nested_form in person_payment_model_formset %}
            <div class="personpaymentform">
                <table>
                    <tr>
                        <th></th>
                        <th>{% translate 'As of' %}</th>
                        <th>{% translate 'Starting (M/D/Y)' %}</th>
                        <th>{% translate 'Ending (M/D/Y)' %}</th>
                        <th>{% translate 'County' %}</th>
                        <th>{% translate 'Leave' %}</th>
                        <th>{% translate 'Base salary' %}</th>
                        <th>{% translate 'Regular hours' %}</th>
                        <th>{% translate 'Regular gross pay' %}</th>
                        <th>{% translate 'Overtime hours' %}</th>
                        <th>{% translate 'Overtime pay' %}</th>
                        <th>{% translate 'Total other pay' %}</th>
                    </tr>
                    <tr>
                        {% include "table_row_wizard_form.html" with form=nested_form del_icon_class="delpayment" has_delete=True parent_counter=forloop.counter0 is_empty_form=False %}
                    </tr>
                </table>
            </div> <!-- div.personpaymentform -->
            {% endfor %}
            <div id="emptypersonpayment" class="personpaymentform emptyform">
                <table>
                    <tr>
                        <th></th>
                        <th>{% translate 'As of' %}</th>
                        <th>{% translate 'Starting (M/D/Y)' %}</th>
                        <th>{% translate 'Ending (M/D/Y)' %}</th>
                        <th>{% translate 'County' %}</th>
                        <th>{% translate 'Leave' %}</th>
                        <th>{% translate 'Base salary' %}</th>
                        <th>{% translate 'Regular hours' %}</th>
                        <th>{% translate 'Regular gross pay' %}</th>
                        <th>{% translate 'Overtime hours' %}</th>
                        <th>{% translate 'Overtime pay' %}</th>
                        <th>{% translate 'Total other pay' %}</th>
                    </tr>
                    <tr>
                        {% include "table_row_wizard_form.html" with form=person_payment_model_formset.empty_form del_icon_class="delpayment" has_delete=True parent_counter=forloop.counter0 is_empty_form=True %}
                    </tr>
                </table>
            </div> <!-- div#emptypersonpayment -->
            <div>
                <span id="newpersonpayment" class="clickable"><i class="fas fa-plus-circle"></i> {% translate 'Add another payroll' %}</span>
            </div>
        </div> <!-- div.collapsible for Payroll -->

        <button type="button" class="collapsible expanded">{% translate 'Aliases' %}</button>
        <div class="collapsible">
            <div>
                {{ person_alias_model_formset.management_form }}
            </div>
            {% for nested_form in person_alias_model_formset %}
            <div class="personaliasform">
                {% include "inline_wizard_form.html" with form=nested_form del_icon_class="delalias" has_delete=True parent_counter=forloop.counter0 is_empty_form=False %}
            </div> <!-- div.personpaymentform -->
            {% endfor %}
            <div id="emptypersonalias" class="personaliasform emptyform">
                {% include "inline_wizard_form.html" with form=person_alias_model_formset.empty_form del_icon_class="delalias" has_delete=True parent_counter=forloop.counter0 is_empty_form=True %}
            </div> <!-- div#emptypersonalias -->
            <div>
                <span id="newpersonalias" class="clickable"><i class="fas fa-plus-circle"></i> {% translate 'Add another alias' %}</span>
            </div>
        </div> <!-- div.collapsible for Aliases -->

        <button type="button" class="collapsible expanded">{% translate 'Relationships' %}</button>
        <div class="collapsible">
            <div>
                {{ person_relationship_model_formset.management_form }}
            </div>
            {% for nested_form in person_relationship_model_formset %}
            <div class="personrelationshipform">
                {% include "inline_wizard_form.html" with form=nested_form del_icon_class="delrelationship" has_delete=True parent_counter=forloop.counter0 is_empty_form=False %}
            </div> <!-- div.personrelationshipform -->
            {% endfor %}
            <div id="emptypersonrelationship" class="personrelationshipform emptyform">
                {% include "inline_wizard_form.html" with form=person_relationship_model_formset.empty_form del_icon_class="delrelationship" has_delete=True parent_counter=forloop.counter0 is_empty_form=True %}
            </div> <!-- div#emptypersonrelationship -->
            <div>
                <span id="newpersonrelationship" class="clickable"><i class="fas fa-plus-circle"></i> {% translate 'Add another relationship' %}</span>
            </div>
        </div> <!-- div.collapsible for Relationships -->

        <button type="button" class="collapsible expanded">{% translate 'Social Media Profiles' %}</button>
        <div class="collapsible">
            <div>
                {{ person_social_media_profiles_model_formset.management_form }}
            </div>
            {% for nested_form in person_social_media_profiles_model_formset %}
            <div class="person-social-media-profile-form">
                {% include "inline_wizard_form.html" with form=nested_form del_icon_class="del-social-media-profile" has_delete=True parent_counter=forloop.counter0 is_empty_form=False %}
            </div> <!-- div.person-social-media-profile -->
            {% endfor %}
            <div id="empty-person-social-media-profile" class="person-social-media-profile-form emptyform">
                {% include "inline_wizard_form.html" with form=person_social_media_profiles_model_formset.empty_form del_icon_class="del-social-media-profile" has_delete=True parent_counter=forloop.counter0 is_empty_form=True %}
            </div> <!-- div#empty-person-social-media-profile -->
            <div>
                <span id="new-person-social-media-profile" class="clickable"><i class="fas fa-plus-circle"></i> {% translate 'Add another social media profile' %}</span>
            </div>
        </div> <!-- div.collapsible for Social Media Profiles -->

        <input type="submit" value="Save">

        <div class="hidden">
            <select id="allcounties">
                <option value="">---</option>
                {% for c in counties %}
                <option value="{{ c.pk }}">{{ c }}</option>
                {% endfor %}
            </select>
        </div>
    </form>

{% endblock %}

{% block onready %}
    {{ block.super }}
    // localized alternative field labels
    Fdp.Common.jsonSearchCriteria = "{{ json_search_criteria }}";
    // initialize interface elements
    Fdp.ChangingPerson.init(
        {% if is_editing %}true{% else %}false{% endif %}, /* isEditing */
        "{% url 'changing:async_get_groupings' %}", /* getGroupingsUrl */
        "{% url 'changing:async_get_persons' %}" /* getPersonsUrl */
    );

{% endblock %}